/********************
YOUR STYLES
*******************/

/* Layout */
* { box-sizing: border-box; }


/* clearfix */
section:after {
  content: '';
  display: block;
  clear: both;
    }

article {
    margin: 0 auto;
    padding: 10px;
}

h1 {font-family: 'Shadows Into Light', cursive;
    font-size: 6em;
    text-align: center;
    text-transform: uppercase;
}


/* Masonry Styling */

#scroll:hover {
    overflow: scroll;
}

section {
    font-family: 'Gloria Hallelujah', cursive;
    overflow: hidden;
  background: rgba(183, 182, 182, 0.65);
    border-radius: 10%;
    padding: 30px;
  border: px solid transparent;
  /* vertical space between */
  margin-bottom: 20px;
/*    default width, you can set, also change in scripts.js*/
  width: 300px;
}

#russel:hover {
    background: url(../img/russel.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    
}
#rigby:hover {
    background: url(../img/rigby.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    
}
#bee:hover {
    background: url(../img/bee.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    
}


/*set your own height*/
.tall {
  height: 600px;
}

.med {
  height: 450px;
}

.short {
  height: 300px;
}

/********************
MEDIA QUERIES
*******************/


/* Desktop */

@media (min-width: 1200px) {
    
}


/* Tablet */

@media (min-width: 768px) {
    
body {
        background-color: beige;
    }
}


/* Mobile */

@media (max-width: 480px) {
    body {
        background-color: cadetblue;
    }
}